{% extends 'base.html' %} {% load static %} {% block content %}

<div class="p-10 flex flex-col gap-5">
  <div>
    <button class="rounded-full text-[#27A3B8] p-3">
      <span class="mr-1">Pilih Periode</span>
      <i class="fa-solid fa-arrow-down"></i>
    </button>
    <button class="rounded-lg text-[#27A3B8] p-3 border border-[#27A3B8]">
      <span>PERIODE  1 (2025)</span>
    </button>
  </div>

  <div class="bg-white border rounded-xl">
    <div class="p-5 grid grid-cols-2 gap-4">
      <div>
        <div>
          <p class="font-bold">I. Integritas</p>
          <span>Sangat disayangkan! Rasa tanggung jawab terhadap pekerjaan sangat kurang, Yuk menjadi lebih baik lagi!</span>
        </div>
        <div class="mt-3">
          <p class="font-bold">II. Orientasi pada Divisi dan Perusahaan</p>
          <span>Sangat Buruk! Respon pada user perlu perubahan yang signifikan ya!</span>
        </div>
        <div class="mt-3">
          <p class="font-bold">III. Komunikasi</p>
          <span>Sangat Buruk! Adaptasi dan menempatkan diri perlu perubahan yang signifikan ya!</span>
        </div>
        <div class="mt-3">
          <h1 class="font-bold">IV. Teamwork & Inisiatif</h1>
          <span>Sangat buruk! Untuk hubungan baik dengan rekan kerja perlu perubahan yang signifikan ya!</span>
        </div>
        <div class="mt-3">
          <h1 class="font-bold">V. Kehandalan</h1>
          <span>Disayangkan, Operasional untuk pengetahuan peran dan fungsi tugas kurang. Yuk menjadi lebih baik lagi!</span>
        </div>
      </div>
      <div>
        <div>
          <p class="font-bold">I. Integritas</p>
          <span>Sangat disayangkan! Rasa tanggung jawab terhadap pekerjaan sangat kurang, Yuk menjadi lebih baik lagi!</span>
        </div>
        <div class="mt-3">
          <p class="font-bold">II. Orientasi pada Divisi dan Perusahaan</p>
          <span>Sangat Buruk! Respon pada user perlu perubahan yang signifikan ya!</span>
        </div>
        <div class="mt-3">
          <p class="font-bold">III. Komunikasi</p>
          <span>Sangat Buruk! Adaptasi dan menempatkan diri perlu perubahan yang signifikan ya!</span>
        </div>
        <div class="mt-3">
          <h1 class="font-bold">IV. Teamwork & Inisiatif</h1>
          <span>Sangat buruk! Untuk hubungan baik dengan rekan kerja perlu perubahan yang signifikan ya!</span>
        </div>
        <div class="mt-3">
          <h1 class="font-bold">V. Kehandalan</h1>
          <span>Disayangkan, Operasional untuk pengetahuan peran dan fungsi tugas kurang. Yuk menjadi lebih baik lagi!</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}