{% extends 'base.html' %} {% load static %} {% block content %}
<div class="flex flex-col p-10">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-3">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 md:col-span-7 gap-4">
      <div
        class="rounded-xl bg-white flex flex-col items-start justify-center p-10 md:p-6 gap-8 w-full max-w-xs">
        <div class="relative w-24 h-10 flex-shrink-0">
          <div
            class="absolute top-0 left-0 w-10 h-10 bg-[#1BC5BD] rounded-lg"></div>
          <img
            class="absolute top-2 left-2 w-6 h-6"
            alt=""
            src="{% static 'asset_home/graph.png' %}" />
        </div>
        <div class="w-24 flex flex-col items-start justify-center gap-6">
          <div class="flex flex-col items-start justify-center gap-2">
            <div class="text-gray-700 opacity-70 text-center text-sm">
              Total Tiket
            </div>
            <b class="text-2xl">12,5K</b>
          </div>
          <div class="flex items-center gap-1 text-xs text-[#4ab58e]">
            <b>+35%</b>
            <div class="text-gray-700 opacity-40">Bulan ini</div>
          </div>
        </div>
      </div>

      <div
        class="rounded-xl bg-white flex flex-col items-start justify-center p-10 md:p-6 gap-8 w-full max-w-xs">
        <div class="relative w-24 h-10 flex-shrink-0">
          <div
            class="absolute top-0 left-0 w-10 h-10 bg-[#1BC5BD] rounded-lg"></div>
          <img
            class="absolute top-2 left-2 w-6 h-6"
            alt=""
            src="{% static 'asset_home/graph.png' %}" />
        </div>
        <div class="w-24 flex flex-col items-start justify-center gap-6">
          <div class="flex flex-col items-start justify-center gap-2">
            <div class="text-gray-700 opacity-70 text-center text-sm">
              Total Tiket
            </div>
            <b class="text-2xl">12,5K</b>
          </div>
          <div class="flex items-center gap-1 text-xs text-[#4ab58e]">
            <b>+35%</b>
            <div class="text-gray-700 opacity-40">Bulan ini</div>
          </div>
        </div>
      </div>

      <div
        class="rounded-xl bg-white flex flex-col items-start justify-center p-10 md:p-6 gap-8 w-full max-w-xs">
        <div class="relative w-24 h-10 flex-shrink-0">
          <div
            class="absolute top-0 left-0 w-10 h-10 bg-[#1BC5BD] rounded-lg"></div>
          <img
            class="absolute top-2 left-2 w-6 h-6"
            alt=""
            src="{% static 'asset_home/graph.png' %}" />
        </div>
        <div class="w-24 flex flex-col items-start justify-center gap-6">
          <div class="flex flex-col items-start justify-center gap-2">
            <div class="text-gray-700 opacity-70 text-center text-sm">
              Total Tiket
            </div>
            <b class="text-2xl">12,5K</b>
          </div>
          <div class="flex items-center gap-1 text-xs text-[#4ab58e]">
            <b>+35%</b>
            <div class="text-gray-700 opacity-40">Bulan ini</div>
          </div>
        </div>
      </div>

      <div
        class="rounded-xl bg-white flex flex-col items-start justify-center p-10 md:p-6 gap-8 w-full max-w-xs">
        <div class="relative w-24 h-10 flex-shrink-0">
          <div
            class="absolute top-0 left-0 w-10 h-10 bg-[#1BC5BD] rounded-lg"></div>
          <img
            class="absolute top-2 left-2 w-6 h-6"
            alt=""
            src="{% static 'asset_home/graph.png' %}" />
        </div>
        <div class="w-24 flex flex-col items-start justify-center gap-6">
          <div class="flex flex-col items-start justify-center gap-2">
            <div class="text-gray-700 opacity-70 text-center text-sm">
              Total Tiket
            </div>
            <b class="text-2xl">12,5K</b>
          </div>
          <div class="flex items-center gap-1 text-xs text-[#4ab58e]">
            <b>+35%</b>
            <div class="text-gray-700 opacity-40">Bulan ini</div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-4 col-span-5 bg-white rounded-lg shadow-md p-5">
      <div>Data Karyawan Teladan</div>
    </div>
  </div>
  {% endblock %}
</div>
