{% load static %}
<div
  id="sidebar"
  class="fixed top-0 left-0 flex flex-col items-center justify-start w-64 h-screen overflow-y-auto bg-white gap-4 text-gray-400 font-['Red_Hat_Display'] transition-all duration-300 md:translate-x-0 -translate-x-full z-30">
  <div class="relative w-[168.6px] h-[51px] bg-white">
    <img
      class="absolute top-0 left-14 w-[113.6px] h-[57px] object-cover"
      alt=""
      src="{% static 'asset_home/ICONIST.png' %}" />
    <img
      class="absolute top-0 left-0 w-16 h-[57px] object-cover"
      alt=""
      src="{% static 'asset_home/logo.png' %}" />
  </div>

  <div class="flex flex-col items-end justify-start w-full text-sm z-50">
    <!-- Dashboard -->
    {% if user.role == 'spv' %}
    <a href="{% url 'home' %}" class="no-underline text-gray-400">
      <div
        class="menu_no_drop_down {% if active_page == 'home' %}bg-gray-100 text-[#0097B2] border-[#0097B2] border-l-8 {% else %}karyawan{% endif %} flex flex-col items-start justify-start px-7 py-4">
        <div class="flex items-center gap-6 w-48">
          <i class="fa-solid fa-house text-[18px]"></i>
          <div class="flex-1 relative font-semibold leading-[150%]">
            Dashboard
          </div>
        </div>
      </div>
    </a>
    {% elif user.role == 'sdm' %}

    <a href="{% url 'dashboard_sdm' %}" class="no-underline text-gray-400">
      <div
        class="menu_no_drop_down {% if active_page == 'dashboard_sdm' %}bg-gray-100 text-[#0097B2] border-[#0097B2] border-l-8 {% else %}karyawan{% endif %} flex flex-col items-start justify-start px-7 py-4">
        <div class="flex items-center gap-6 w-48">
          <i class="fa-solid fa-house text-[18px]"></i>
          <div class="flex-1 relative font-semibold leading-[150%]">
            Dashboard
          </div>
        </div>
      </div>
    </a>

    {% elif user.role == 'officer' %}
    <a href="{% url 'dashboard_officer' %}" class="no-underline text-gray-400">
      <div
        class="menu_no_drop_down {% if active_page == 'dashboard_officer' %}bg-gray-100 text-[#0097B2] border-[#0097B2] border-l-8 {% else %}karyawan{% endif %} flex flex-col items-start justify-start px-7 py-4">
        <div class="flex items-center gap-6 w-48">
          <i class="fa-solid fa-house text-[18px]"></i>
          <div class="flex-1 relative font-semibold leading-[150%]">
            Dashboard Officer
          </div>
        </div>
      </div>
    </a>
    {% endif %}

    {% if user.role == 'officer' %}
    <a href="{% url 'feedback' %}" class="no-underline text-gray-400">
      <div
        class="menu_no_drop_down {% if active_page == 'feedback' %}bg-gray-100 text-[#0097B2] border-[#0097B2] border-l-8 {% else %}karyawan{% endif %} flex flex-col items-start justify-start px-7 py-4">
        <div class="flex items-center gap-6 w-48">
          <i class="fa-solid fa-user-group text-[18px]"></i>
          <div class="flex-1 relative font-semibold leading-[150%]">
            Feedback Officer
          </div>
        </div>
      </div>
    </a>
    {% endif %}

    {% if user.role == 'spv' %}
    <!-- Data Karyawan -->
    <a href="{% url 'employee_list' %}" class="no-underline text-gray-400">
      <div
        class="menu_no_drop_down {% if active_page == 'employee_list' %}bg-gray-100 text-[#0097B2] border-[#0097B2] border-l-8 {% else %}karyawan{% endif %} flex flex-col items-start justify-start px-7 py-4">
        <div class="flex items-center gap-6 w-48">
          <i class="fa-solid fa-user-group text-[18px]"></i>
          <div class="flex-1 relative font-semibold leading-[150%]">
            Data Karyawan
          </div>
        </div>
      </div>
    </a>
    {% endif %}

    <!-- Master Karyawan -->
    <div class="dropdown" onclick="setActive(this)">
      <div
        class="flex flex-col items-start justify-start px-7 py-4 cursor-pointer">
        <div class="flex items-center gap-6 w-48" id="toggle-master">
          <i class="fa-solid fa-users-gear text-[18px]"></i>
          <div class="relative font-semibold leading-[150%]">
            Master Karyawan
          </div>
          <img
            class="w-5 h-5 ml-6 transform transition-transform rotate-90"
            alt=""
            src="{% static 'asset_home/Chevron.png' %}" />
        </div>

        <ul id="submenu" class="hidden ml-12 mt-2 mb-0">
          <a
            href="{% url 'employee_penilaian' %}"
            class="no-underline text-gray-400">
            <li class="py-2 text-[13px] cursor-pointer">Penilaian</li>
          </a>
          <a
            href="{% url 'employee_history' %}"
            class="no-underline text-gray-400">
            <li class="py-2 text-[13px] cursor-pointer">Riwayat</li>
          </a>
          <a
            href="{% url 'employee_evaluation' %}"
            class="no-underline text-gray-400">
            <li class="py-2 text-[13px] cursor-pointer">Setting Bank Soal</li>
          </a>
        </ul>
      </div>
    </div>

    <!-- Master Konfigurasi -->
    <div class="dropdown" onclick="setActive(this)">
      <div
        class="flex flex-col items-start justify-start px-7 py-4 cursor-pointer">
        <div class="flex items-center gap-6 w-48" id="toggle-konfigurasi">
          <i class="fa-solid fa-chart-bar text-[18px]"></i>
          <div class="relative font-semibold leading-[150%]">
            Master Konfigurasi
          </div>
          <img
            class="w-5 h-5 ml-6 transform transition-transform rotate-90"
            alt=""
            src="{% static 'asset_home/Chevron.png' %}" />
        </div>

        <ul id="submenu3" class="hidden ml-12 mt-2 mb-0">
          <a
            href="{% url 'create_question' %}"
            class="no-underline text-gray-400">
            <li class="py-2 text-[13px] cursor-pointer">Buat Soal</li>
          </a>
          <a
            href="{% url 'assign_assessment' %}"
            class="no-underline text-gray-400">
            <li class="py-2 text-[13px] cursor-pointer">Assign Penilaian</li>
          </a>
          <a
            href="{% url 'configuration_history' %}"
            class="no-underline text-gray-400">
            <li class="py-2 text-[13px] cursor-pointer">Riwayat</li>
          </a>
        </ul>
      </div>
    </div>

    <!-- Periode Berjalan -->
    <div class="dropdown" onclick="setActive(this)">
      <div
        class="flex flex-col items-start justify-start px-7 py-4 cursor-pointer">
        <div class="flex items-center gap-6 w-48" id="toggle-periode">
          <i class="fa-solid fa-chart-line text-[18px]"></i>
          <div class="relative font-semibold leading-[150%]">
            Periode Berjalan
          </div>
          <img
            class="w-5 h-5 transform transition-transform rotate-90"
            alt=""
            src="{% static 'asset_home/Chevron.png' %}" />
        </div>

        <ul id="submenu2" class="hidden ml-5 mt-2 mb-0">
          <a
            href="{% url 'employee_score' %}"
            class="no-underline text-gray-400">
            <li class="py-2 text-[13px] cursor-pointer">Score Karyawan</li>
          </a>
          <a
            href="{% url 'mttr_performance' %}"
            class="no-underline text-gray-400">
            <li class="py-2 text-[13px] cursor-pointer">MTTR Performance</li>
          </a>
        </ul>
      </div>
    </div>
  </div>

  <img
    class="absolute bottom-0 left-0 w-64 h-[172.1px] z-20"
    alt=""
    src="{% static 'asset_home/element_bottom.png' %}" />
  <img
    class="absolute top-[441px] left-[-45%] w-[140%] h-[30%] object-contain rotate-90 z-30"
    alt=""
    src="{% static 'logo-bumn-tanpa-background-1-jasalogocepat 1.png' %}" />
  <img
    class="absolute top-[71px] left-1 w-64 max-h-full z-40"
    alt=""
    src="{% static 'Vector 2.svg' %}" />
</div>

<!-- Tombol buka sidebar di mobile -->
<button
  id="toggleSidebar"
  class="fixed top-4 left-4 z-50 p-2 text-black rounded md:hidden">
  <i id="toggleIcon" class="fa fa-bars"></i>
</button>

<!-- Overlay untuk menutup sidebar ketika diklik -->
<div id="overlay" class="fixed inset-0 bg-black opacity-50 z-20 hidden"></div>

<!-- onclick menu drop down -->
<script>
  // Function to set the active class on menu item and remove active class from all non-dropdown menus
  function setActive(item) {
    // Toggle the visibility of the submenu
    // console.log(item);
    // const submenu = item.querySelector('#submenu');
    const submenu = item.querySelector('[id^="submenu"]');
    const isVisible = submenu.style.maxHeight;

    if (isVisible) {
      console.log("true");
      submenu.style.maxHeight = null; // Hide submenu
    } else {
      submenu.style.maxHeight = submenu.scrollHeight + "px"; // Show submenu
      console.log("else");
    }

    // Remove the active style from all non-dropdown menus
    const allDropdowns = document.querySelectorAll(".dropdown");
    const nonDropdownMenus = document.querySelectorAll(".menu_no_drop_down");

    // Hapus Aktif Non Dropdown Menu
    nonDropdownMenus.forEach(function (el) {
      el.classList.remove(
        "bg-gray-100",
        "text-[#0097B2]",
        "border-[#0097B2]",
        "border-l-8"
      );
    });

    // Hapus Aktif Dropdown Menu
    allDropdowns.forEach(function (dropdown) {
      const dropdownSubmenu = dropdown.querySelector('[id^="submenu"]');
      if (dropdown !== item) {
        dropdownSubmenu.classList.add("hidden"); // Hide all other submenus
        dropdownSubmenu.style.maxHeight = null; // Reset the max-height for other submenus
      }
      dropdown.classList.remove(
        "bg-gray-100",
        "text-[#0097B2]",
        "border-[#0097B2]",
        "border-l-8"
      ); // Remove active class from all dropdowns
    });

    // Set active class for the clicked dropdown item
    item.classList.add(
      "bg-gray-100",
      "text-[#0097B2]",
      "border-[#0097B2]",
      "border-l-8"
    );
  }
</script>
